<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session Attributes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        .form {
            margin: 0 auto;
            max-width: 460px;
            width: auto;
        }
    </style>
</head>
<body>
<form action="add-todo.html"
      class="form shadow-lg px-5 py-5 mt-5"
      method="post"
      th:object="${todo}"
      th:action="@{/todos/add}">
    <div>
        <label class="form-label" for="title">
            Title
        </label>
        <input id="title" type="text" th:field="*{title}" class="form-control" />
    </div>
    <div>
        <label class="form-label" for="description">
            Description:
        </label>
        <textarea id="description" th:field="*{description}" class="form-control"></textarea>
    </div>
    <div class="d-flex flex-row justify-content-end mt-2 gap-2">
        <a href="todos.html" th:href="@{/todos}" class="btn btn-outline-secondary">Cancel</a>
        <input type="submit" name="add" class="btn btn-primary" value="Add Todo" />
    </div>
</form>
</body>
</html>