<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>

        .bi {
            fill: currentColor;
        }

        .opacity-75 {
            opacity: .75;
        }

        .list-group {
            width: auto;
            max-width: 460px;
            margin: 4rem auto;
        }

        [contenteditable]:focus {
            outline: 0;
        }

        .done {
            text-decoration: line-through;
        }

    </style>
</head>
<body>

<div class="list-group">
    <form action="add-todo.html"
          method="get"
          th:action="@{/todos/add}"
          class="d-flex flex-row justify-content-end mb-2">
        <input type="submit" name="add" value="Add" class="btn btn-primary"/>
    </form>
    <p th:if="${todos.size() eq 0}" class="lead">There are no todos. Please click on add button to add one.</p>
    <div th:remove="all-but-first">
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3"
             aria-current="true"
             th:each="todo : ${todos}">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div th:class="${todo.completed} ? done">
                    <h6 class="mb-0" th:text="${todo.title}">Go and pick up your pet food</h6>
                    <p class="mb-0 opacity-75" th:text="${todo.description}">It is available from the supermarket</p>
                </div>
            </div>
            <form action="todos.html" th:action="@{/todos/done}" method="post">
                <input type="hidden" name="id" th:value="${todo.id}" />
                <input type="hidden" name="completed" th:value="not ${todo.completed}" />
                <button type="submit"
                        class="btn btn-light"
                        data-bs-toggle="tooltip"
                        title="Mark as done"
                        th:title="|Mark as ${todo.completed ? 'undone' : 'done'}|">
                    <i class="bi bi-check-square opacity-75"
                       th:class="|bi ${todo.completed ? 'bi-x-square' : 'bi-check-square'} opacity-75|"></i>
                </button>
            </form>
            <form action="todos.html" th:action="@{/todos/delete}" method="post">
                <input type="hidden" name="id" th:value="${todo.id}">
                <button type="submit"
                        class="btn btn-light"
                        data-bs-toggle="tooltip"
                        title="Remove"><i class="bi bi-trash opacity-75"></i></button>
            </form>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div class="done">
                    <h6 class="mb-0">Research about bikes and scooter</h6>
                    <p class="mb-0 opacity-75">You need one for your freedom.</p>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-light"
                    data-bs-toggle="tooltip"
                    title="Mark as undone"><i class="bi bi-x-square opacity-75"></i></button>
            <button type="submit"
                    class="btn btn-light"
                    data-bs-toggle="tooltip"
                    title="Remove"><i class="bi bi-trash opacity-75"></i></button>
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Fill up all the water bottles.</h6>
                    <p class="mb-0 opacity-75">Someone needs to fill them up, obviously.</p>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-light"
                    data-bs-toggle="tooltip"
                    title="Mark as done"><i class="bi bi-check-square opacity-75"></i></button>
            <button type="submit"
                    class="btn btn-light"
                    data-bs-toggle="tooltip"
                    title="Remove"><i class="bi bi-trash opacity-75"></i></button>
        </div>
    </div>
</div>

<script>
    // Enable all tooltips
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>

</body>
</html>